#about
{
    position: relative;
    left: 500px;
    width: 480px;
    margin: 0;
    padding: 0 0 20px 0;
}

#about h2,
#about p
{
    margin: 0 40px 20px 0;
}

#introduction-animation
{
    position: absolute;
    left: -500px;
}
