#main
{
    padding: 0;
}

div#map
{
    position: relative;
    width: 700px;
    height: 400px;
}

div#map a.map-link
{
    display: block;
    position: absolute;
    margin: 0;
    border: none;
    padding: 0;
}
