body {
  position: relative;
}

#main p {
  width: 580px;
}
#main table p {
  width: auto;
}

#main table {
    border-collapse: collapse;
}
td.inputs p, td.inputs input {
    font-size: 18px;
}
td.inputs select {
    border: 1px solid #00CC00;
    font-size: 18px;
}

#main tr.first td.inputs {
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-top: 3px solid #ccc;
    padding-top: 40px;
}
#main tr.last td.inputs {
-webkit-border-bottom-right-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    padding-bottom: 40px;
}

#main td.inputs {
    vertical-align: top;
    width: 500px;
    padding: 0px 40px 0px 40px;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    background: #fff;
}

#main td.help {
    vertical-align: top;
    width: 200px;
    padding: 0px 40px 0px 40px;
    background: #fff;
}

#main form p.field {
    color: #444444;
    font-size: 80%;
}

#main a {
    color: #000000;
}

#main label {
    color: #444444;
    margin-right: 8px;
    font-size: 125%;
}
#main p.split label {
    display: inline-block;
    /*width: 50%;*/
    text-align: right;
}
#main form p.full {
    font-size: 100%;
    line-height: 1.5;
}
#main p.full label, #main li label {
    font-size: 100%;
    /*width: 50%;*/
    text-align: left;
}

.thoughtful {
    color: #009900;
    border: 1px dotted #00CC00;
    padding: 5px;
}

a.addrecipient, a.removerecipient {
  background: #00CC00;
  color: #FFF !important;
  font-weight: bold;
  padding: 5px;
  margin-left: 5px;
  text-decoration: none;
  font-size: 75%;
}
a.removerecipient {
  background: #999;
}

#main span.note {
    background: #ffe;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-size: 66%;
    padding: 8px;
    width: 140px;
    display: none;
    position: absolute;
    z-index: 100;
     -moz-box-shadow: 2px 2px 4px #000; /* FF3.5+ */
  -webkit-box-shadow: 2px 2px 4px #000; /* Saf3.0+, Chrome */
          box-shadow: 2px 2px 4px #000; /* Opera 10.5, IE 9 */
}

#main p,
#main h1,
#main h2,
#main h3,
#main h4 {
    position: relative;
    clear: both;
}
#main h3 {
    margin-top: 30px;
}

#main input[type=text],
#main input[type=email],
#main textarea {
    border: 0px;
    border-bottom: 1px solid #00CC00;
    background: #FFFFFF;
    padding: 4px;
    margin: 8px 0px;
}
#main textarea {
    border: 1px solid #00CC00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 492px;
    font-size: 12pt;
}

button {
    background: #444444;
    color: #FFFFFF;
    border: 0;
    padding: 5px;
    margin: 0 10px 0 0;
    font-weight: bold;
}
button[type=submit] {
    background: #00CC00;
}

#searchform button {
  margin-left: 4px;
  padding: 2px 5px;
}

#bboxmap {
    display: block;
    position: relative;
    width: 500px;
    height: 320px;
    border: 1px solid #999;
    background: #DDDDDD;
}

p#done {
    margin-top: 30px;
    text-align: center;
}
p#done button {
    padding: 6px 10px;
    font-size: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

