var, blockquote
{
	color: #090;
	font-style: normal;
}

p.status-message
{
	color: white;
	background-color: #0C0;
	border: 1px solid #090;
	border-radius: 2px;
	padding: 1em 35px;
    width: 530px;
	background-image: url(images/white-bouncy-ball.gif);
	background-repeat: no-repeat;
	background-position: 14px 1em;
}

p.map-date
{
    width: 600px;
    text-align: right;
    font-size: small;
}

blockquote
{
    position: relative;
    width: 560px;
}

blockquote:before
{
    content: '“';
    font-size: 600%;
    line-height: 18px;
    position: absolute;
    left: -40px;
    top: 18px;
    color: #bfb;
}

div.download-area
{
    margin-top: 40px;
}

#preview-map
{
    width: 600px;
    height: 400px;
    background-color: #ccc;
    border: 1px solid #bbb;
}

#preview-map a.map-link
{
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
}

#preview-map a.map-link,
#preview-map a.map-link img
{
    border: none;
}

ul.formats
{
    list-style-type: none;
    height: 80px;
    padding: 0;
}

ul.formats li.format
{
    display: block;
    width: 200px;
    text-align: center;
    float: left;
}

ul.formats li.format a img
{
    border: none;
}

form.admin
{
    padding: 4px 8px;
    background-color: #fcc;
    border: 1px solid #f99;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
