var
{
	color: #0c0;
	font-style: normal;
}

p.status-message
{
	color: white;
	background-color: #0C0;
	padding: 1em 2.5em;
	background-image: url(images/white-bouncy-ball.gif);
	background-repeat: no-repeat;
	background-position: 1em 1em;
}

p.map-date
{
    width: 600px;
    text-align: right;
    font-size: small;
}

blockquote
{
    position: relative;
}

blockquote:before
{
    content: '“';
    font-size: 600%;
    line-height: 18px;
    position: absolute;
    left: -40px;
    top: 18px;
    color: #ddd;
}

p.download-info
{
    margin-top: 40px;
}

#preview-map
{
    width: 600px;
    height: 400px;
    background-color: #ccc;
    border: 1px solid #bbb;
}

#preview-map a.map-link
{
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
}

#preview-map a.map-link,
#preview-map a.map-link img
{
    border: none;
}

ul.formats
{
    list-style-type: none;
    height: 80px;
    padding: 0;
}

ul.formats li.format
{
    display: block;
    width: 200px;
    text-align: center;
    float: left;
}

ul.formats li.format a img
{
    border: none;
}
